## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

numero=7
print(numero)

In [ ]:
numero=7
print(numero)

2) Imprimir el tipo de dato de la constante 8.5

In [ ]:
type(8.5)

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
print(numero)

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre="Francesco"

5) Crear una variable que contenga un número complejo

In [ ]:
n_complejo=1+2+3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print(n_complejo)

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
num_pi=14,67777777777
print(round(num_pi,4))

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
num1="true"
num2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print("la variable es de tipo", num1, num2)

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
suma=7+8.5

11) Realizar una operación de suma de números complejos

In [ ]:
comp1=1+2j
comp2=1+2j
print(comp1+comp2)

12) Realizar una operación de suma de un número real y otro complejo

In [ ]:
real=j+1.2
print(real)

13) Realizar una operación de multiplicación

In [ ]:
multi=(5*2)
print(multi)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
print(2**8)

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
var1=(27/4)
print(var1)

16) De la división anterior solamente mostrar la parte entera

In [ ]:
print(27//4)

17) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
print(27%4)

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
oper=4*6+3

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [ ]:
variable1= "Colombia "
variable2="Bogota"
print(variable1+ "Su capital es "+ variable2)

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
"2"==2

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
int("2")==2

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8') # porque float es para numeros con decimales y si se usaran numeros enteros debe ser con int

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
a = -3
a -= 1
print(a)

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<<2

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
float(2) + float('2')

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
text1 = 'este texto se repite '
text2 = 3
print(text1 * text2 + str(text2) + ' veces')